{{template "header" .}}

<p>Kedves fazekasos diákok!</p>
<p>Ez a pályaorientációs nap programválasztási felületének főoldala.</p>
<p>Az Események menüpontban válaszd ki, hogy melyik órában melyik programon szeretnél részt venni.
Az <a href="http://fmg.hu/sites/default/files/hirek/2018-2019/palyaorientacios_nap_programok_termek_idopontok_valasztashoz.pdf">alábbi</a> linken megtalálod a programok teljes listáját, és azt, melyik órában és hol lesznek a
programok. Ezek alapján kell beosztanod saját „órarendedet”.</p>
<p>A Jelentkezéseim menüpontban tudod ellenőrizni, mire jelentkeztél, illetve itt tudsz változtatni a
„visszavon” gombbal. A „megerősít”-re kattintással véglegesíted választásodat, ami ez után már nem
módosítható.</p>
<p>Kitöltési határidő: <i>2018. november 24., éjfél</i></p>
<p>Akinél programütközés van, vagy bármilyen egyéb gond, jelezze az <i>név és osztály feltüntetésével</i> <a href="mailto:fmgdeb@gmail.com">fmgdeb@gmail.com</a> címen!
</p>
{{template "footer" .}}