{{template "header" .}}
Milyen helyszínekre jelentkeztem eddig:<br><br>
<table class="table table-responsive table-condensed">
    <thead>
    <tr><td>Esemény</td><td>Helyszín</td><td>Megerősítve</td></tr>
    </thead>
    {{$nev := .Data.Nev}}
    {{$om := .Data.OM}}
{{range $i := .Data.Ans}}
<tr><td>{{$i.Place.Event.Name}}</td><td>{{$i.Place.Name}}</td><td>{{if $i.Validated}}Igen{{else}}Nem  <form action="/my/action" method="post"><input type="hidden" name="nev" value="{{$nev}}"><input type="hidden" name="om" value="{{$om}}"><input type="hidden" name="id" value="{{$i.ID}}"><input type="hidden" name="redirect" value="/my/show/?name={{$nev}}&om={{$om}}"><button name="action" value="del" class="btn btn-danger">Visszavon</button><button name="action" value="ac" class="btn btn-success">Megerősít</button></form>{{end}}</td></tr>{{end}}
</table>
<br>
<a href="/logout">Kilépés</a>
{{template "footer" .}}